/node_modules/
/test/
.npmignore
.github
tsconfig.tsbuildinfo
.env
yarn.lock
test
hashed-signatures.ts
./src/hashed-signatures.tss
.eslintrc.js
.eslintignore
.prettierrc.js
.prettierignore
.editorconfig
tsconfig.json
yarn.lock
.env
.scratch